Sources/CodeEditLanguages/Resources/** linguist-vendored
Sources/TreeSitterGrammars/** linguist-vendored
.github/** linguist-vendored
Sources/CodeEditLanguages/Documentation.docc/** linguist-documentation
